header {
	background: #87CEFA;
	text-align: center;
	margin: 2%;
	padding: 0px 0px 5px 0px;
	font-family: Helvetica, Arial, serif;
	border-radius:  25px;
	animation: pulse 5s infinite;
}

@keyframes pulse {
  0%,100% {
    background-color: #FFF75E;
  }
  50% {
    background-color: #BBFBFC;
  }
}

h1 {
	font-variant: uppercase;
	font-family: Helvetica, Arial, serif;
}

h2 {
	font-variant: small-caps;
	font-family: Helvetica, Arial, serif;
}


details {
	font-style: italic;
	font-family: Helvetica, Arial, serif;
}

summary {
	font-style: normal;
	font-family: Helvetica, Arial, serif;
}

footer {
	background: #E6E6FA;
	clear: both;
	font-family: Helvetica, Arial, serif;
	width: 100%;
}

img {
	width: 125px;
}

a:link {
	color: #483D8B;
}

a:visited {
	color: #800080;
}

a:hover {
	color: #4169E1;
}

nav a {
	margin: 4%;
}

.left {
	width: 45%;
    margin: 2%;
    padding: 3px;
    display: inline-block;
    float: left;
    font-family: Helvetica, Arial, serif;
    background: #E0DFDA;
    border-radius: 10px;
}

.right {
	width: 45%;
    margin: 2%;
    padding: 3px;
    display: inline-block;
    float: left;
    font-family: Helvetica, Arial, serif;
    background: #E0DFDA;
    border-radius: 10px;
}

.whole {
	font-family: Helvetica, Arial, serif;
    margin: 2%;
    padding: 3px;
    background: #E0DFDA;
    clear: both;
    border-radius: 10px;
}

.left:hover {
	background: #FFFFFF;
}

.right:hover {
	background: #FFFFFF;
}

.whole:hover {
	background: #000000;
	color: #FFFFFF;
}